@use 'sass:map';
@use './base-template';

@function light-theme($theme: ()) {
  $base: (
    foreground: map.merge(
      base-template.$light-foreground,
      map.get($theme, foreground) or ()
    ),

    background: map.merge(
      base-template.$light-background,
      map.get($theme, background) or ()
    )
  );

  @return map.merge($theme, $base);
}

@function dark-theme($theme: ()) {
  $base: (
    foreground: map.merge(
      base-template.$dark-foreground,
      map.get($theme, foreground) or ()
    ),

    background: map.merge(
      base-template.$dark-background,
      map.get($theme, background) or ()
    )
  );

  @return map.merge($theme, $base);
}


@function palette($palette, $default: 500, $lighter: 100, $darker: 700, $text: $default) {
  $contrast: map.get($palette, contrast);

  @return (
    default: map.get($palette, $default),
    lighter: map.get($palette, $lighter),
    darker:  map.get($palette, $darker),
    text:    map.get($palette, $text),

    default-contrast: map.get($contrast, $default),
    lighter-contrast: map.get($contrast, $lighter),
    darker-contrast:  map.get($contrast, $darker)
  );
}


@function css-variable-palette($prefix) {
  $prefix: 'ml-#{$prefix}';

  @return (
    default: $prefix,
    lighter: '#{$prefix}-lighter',
    darker:  '#{$prefix}-darker',
    text:    '#{$prefix}-text',

    default-contrast: '#{$prefix}-default-contrast',
    lighter-contrast: '#{$prefix}-lighter-contrast',
    darker-contrast:  '#{$prefix}-dark-contrast'
  );
}

@function css-variable-color($prefixes) {
  $result: ();

  @each $prefix in $prefixes {
    $result: map.set($result, $prefix, css-variable-palette($prefix));
  }

  @return $result;
}
