@import "../theming";

.ml-button {
  display: inline-flex;
  position: relative;
  overflow: visible;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  cursor: pointer;

  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  white-space: nowrap;

  color: inherit;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;

  will-change: opacity;

  &:focus .ml-button-overlay {
    opacity: $ml-hovered-opacity;
  }

  &:not(:focus-visible) .ml-button-overlay {
    opacity: 0;
  }

  svg {
    fill: currentColor;
  }
}

.ml-button a,
a.ml-button {
  text-decoration: none;
  color: inherit;

  &:link {
    color: #2196F3;
  }

  &:visited {
    color: #9C27B0;
  }
}

.ml-simple-button {
  background-color: transparent;
}

.ml-basic-button,
.ml-raised-button,
.ml-stroked-button,
.ml-flat-button {
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
}

.ml-icon-button,
.ml-fab {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  font-size: 24px;
  fill: currentColor;
}

.ml-raised-button {
  .ml-button-ripple-outlet {
    $z-index: map-get($ml-z-index, resting-contained-button);

    // z-index: $z-index;
    @include ml-elevation($z-index);

    transition: ml-box-shadow-transition();
  }

  &:active .ml-button-ripple-outlet {
    $z-index: map-get($ml-z-index, pressed-contained-button);

    // z-index: $z-index;
    @include ml-elevation($z-index);
  }
}

.ml-stroked-button {
  padding: 0 15px;
  border: 1px solid;
}

.ml-fab {
  .ml-button-ripple-outlet {
    $z-index: map-get($ml-z-index, resting-fab);
    // z-index: $z-index;
    @include ml-elevation($z-index);

    transition: ml-box-shadow-transition();
  }

  &:active .ml-button-ripple-outlet {
    $z-index: map-get($ml-z-index, pressed-fab);
    // z-index: $z-index;
    @include ml-elevation($z-index);
  }
}

.ml-anchor-button {
  padding: 0;

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 16px;
  }
}

.ml-button-ripple-outlet,
.ml-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  pointer-events: none;
}

.ml-button-overlay {
  background-color: currentColor;
  opacity: 0; 
}

.ml-hoverable-button {
  .ml-button-overlay {
    transition: ml-opacity-transition();
  }

  &:hover .ml-button-overlay {
    opacity: $ml-hovered-opacity;
  }
}

.ml-button.ml-disabled {
  cursor: default;
  box-shadow: 0 0 0 0 transparent !important;
}

.ml-disabled .ml-button-ripple-outlet {
  box-shadow: 0 0 0 0 transparent !important;
}

.ml-disabled .ml-button-overlay {
  display: none !important;
}
