@use './palette';
@use './defining';

$warn-palette: defining.palette(palette.$red-palette);

$deep-purple-amber-color: (
  primary: defining.palette(palette.$deep-purple-palette),
  accent:  defining.palette(palette.$amber-palette),
  warn:    $warn-palette
);

$indigo-pink-color: (
  primary: defining.palette(palette.$indigo-palette),
  accent:  defining.palette(palette.$pink-palette),
  warn:    $warn-palette
);

$pink-blue-grey-color: (
  primary: defining.palette(palette.$pink-palette),
  accent:  defining.palette(palette.$blue-grey-palette),
  warn:    $warn-palette
);
$pink-blue-gray-color: $pink-blue-grey-color;

$purple-green-color: (
  primary: defining.palette(palette.$purple-palette),
  accent:  defining.palette(palette.$green-palette),
  warn:    $warn-palette
);

$css-variable-color: defining.css-variable-color((primary, accent, warn));
