@use 'sass:map';
@use '../../cdk';
@use '../theming/private';
@use '../core/override/elevation';

@mixin foreground($foreground: null, $config: null, $ml: null) {
  $ml: private.create-ml-map(foreground, $foreground, $ml);

  @include private.for-each-theme(foreground, (divider, secondary-text), $ml, card)
  using ($_, $__, $divider, $secondary-text) {
    .ml-stroked-card {
      border-color: $divider;
    }

    .ml-card-subtitle{
      color: $secondary-text;
    }
  }
}


@mixin background($background: null, $ml: null) {
}


@mixin color($color: null, $ml: null) {
}

$default-config: ();
@mixin config($config: null, $ml: null) {
  $ml: private.create-ml-map(config, $config, $ml);

  @include elevation.zone(null, null, $ml: $ml) using ($color, $opacity) {
    .ml-raised-card {
      @include cdk.elevation(1, $color, $opacity);
    }
  }
}


@mixin theme($theme: null, $ml: null) {
  $theme: private.component-theme-init($theme);
  @include foreground(map.get($theme, foreground), $ml);
  @include background(map.get($theme, background), $ml);
  @include color(map.get($theme, color), $ml);
  @include config(map.get($theme, config), $ml);

  // $typography: typography.get-typography($theme);
}