@use 'sass:map';
@use '../../../angular-cdk/' as cdk;
@use './palette';

$light-foreground: (
  base:              black,
  divider:           palette.$dark-dividers,
  dividers:          palette.$dark-dividers,
  disabled:          palette.$dark-disabled-text,
  disabled-button:   rgba(black, 0.24),
  disabled-text:     palette.$dark-disabled-text,
  elevation:         black,
  hint-text:         palette.$dark-disabled-text,
  secondary-text:    palette.$dark-secondary-text,
  icon:              rgba(black, 0.56),
  icons:             rgba(black, 0.56),
  text:              rgba(black, 0.88),
  slider-min:        rgba(black, 0.88),
  slider-off:        rgba(black, 0.24),
  slider-off-active: rgba(black, 0.4),
);

$light-background: (
  status-bar:               map.get(palette.$grey-palette, 300),
  app-bar:                  map.get(palette.$grey-palette, 100),
  background:               map.get(palette.$grey-palette, 50),
  hovered:                  palette.$dark-hovered,
  focused:                  palette.$dark-focused,
  card:                     white,
  dialog:                   white,
  disabled-button:          rgba(black, 0.12),
  raised-button:            white,
  selected-button:          map.get(palette.$grey-palette, 300),
  selected-disabled-button: map.get(palette.$grey-palette, 400),
  disabled-button-toggle:   map.get(palette.$grey-palette, 200),
  unselected-chip:          map.get(palette.$grey-palette, 300),
  disabled-list-option:     map.get(palette.$grey-palette, 200),
  tooltip:                  map.get(palette.$grey-palette, 700),
);


$dark-foreground: (
  base:              white,
  divider:           palette.$light-dividers,
  dividers:          palette.$light-dividers,
  disabled:          palette.$light-disabled-text,
  disabled-button:   rgba(white, 0.32),
  disabled-text:     palette.$light-disabled-text,
  elevation:         black,
  hint-text:         palette.$light-disabled-text,
  secondary-text:    palette.$light-secondary-text,
  icon:              white,
  icons:             white,
  text:              white,
  slider-min:        white,
  slider-off:        rgba(white, 0.32),
  slider-off-active: rgba(white, 0.32),
);

$dark-background: (
  status-bar:               black,
  app-bar:                  map.get(palette.$grey-palette, 900),
  background:               #303030,
  hovered:                  palette.$light-hovered,
  focused:                  palette.$light-focused,
  card:                     map.get(palette.$grey-palette, 800),
  dialog:                   map.get(palette.$grey-palette, 800),
  disabled-button:          rgba(white, 0.12),
  raised-button:            map.get(palette.$grey-palette, 800),
  selected-button:          map.get(palette.$grey-palette, 900),
  selected-disabled-button: map.get(palette.$grey-palette, 800),
  disabled-button-toggle:   black,
  unselected-chip:          map.get(palette.$grey-palette, 700),
  disabled-list-option:     black,
  tooltip:                  map.get(palette.$grey-palette, 700),
);


// CSS Variables は後々
$css-variable-foreground: (
  base:              var(--ml-fg-base),
  divider:           var(--ml-fg-divider),
  dividers:          var(--ml-fg-dividers),
  disabled:          var(--ml-fg-disabled),
  disabled-button:   var(--ml-fg-disabled-button),
  disabled-text:     var(--ml-fg-disabled-text),
  elevation:         var(--ml-fg-elevation),
  hint-text:         var(--ml-fg-hint-text),
  secondary-text:    var(--ml-fg-secondary-text),
  icon:              var(--ml-fg-icon),
  icons:             var(--ml-fg-icons),
  text:              var(--ml-fg-text),
  slider-min:        var(--ml-fg-slider-min),
  slider-off:        var(--ml-fg-slider-off),
  slider-off-active: var(--ml-fg-slider-off-active),
);

$css-variable-background: (
  status-bar:               var(--ml-bg-status-bar),
  app-bar:                  var(--ml-bg-app-ber),
  background:               var(--ml-bg-background),
  hovered:                  var(--ml-bg-hovered),
  focused:                  var(--ml-bg-focused),
  card:                     var(--ml-bg-card),
  dialog:                   var(--ml-bg-dialog),
  disabled-button:          var(--ml-bg-disabled-button),
  raised-button:            var(--ml-bg-raised-button),
  selected-button:          var(--ml-bg-selected-button),
  selected-disabled-button: var(--ml-bg-selected-disabled-button),
  disabled-button-toggle:   var(--ml-bg-disabled-button-toggle),
  unselected-chip:          var(--ml-bg-unselected-chip),
  disabled-list-option:     var(--ml-bg-unselected-disabled-list-option),
  tooltip:                  var(--ml-bg-unselected-tooltip),
);
