@mixin ripple() {
  .ml-ripple {
    position: relative;
    overflow: hidden;
  
    &:not(:empty) {
      transform: translateZ(0);
    }
  }

  .ml-ripple-element {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background: currentColor;

    transform: scale(0);
    transition-property: opacity, transform;
  }

  .ml-overdrive-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    pointer-events: none;
    background: currentColor;

    opacity: 0;
    transition-property: opacity;
  }
}
