@use './palette';

$ml-light-theme: (
  base: #fff,
  oppositeBase: #000,
  background: #fafafa,
  primaryContainer: #f5f5f5,
  secondaryContainer: #fff,
  tertiaryContainer: #eeeeee,
  disabledContainer: rgba(0,0,0,.16),
  divider: rgba(0,0,0,.16),
  scrollbar: rgba(0,0,0,.16),
  elevation: #000,
  icon: rgba(0,0,0,.52),
  sliderMin: rgba(0,0,0,.88),
  sliderOff: rgba(0,0,0,.24),
  sliderOffActive: rgba(0,0,0,.4),
  sliderThumb: #fafafa,
  text: rgba(0,0,0,.88),
  secondaryText: rgba(0,0,0,.56),
  hintText: rgba(0,0,0,.64),
  disabledText: rgba(0,0,0,.4),
);

$ml-dark-theme: (
  base: #000,
  oppositeBase: #fff,
  background: #303030,
  primaryContainer: #212121,
  secondaryContainer: #424242,
  tertiaryContainer: #606060,
  disabledContainer: rgba(255,255,255,.16),
  divider: rgba(255,255,255,.16),
  scrollbar: rgba(255,255,255,.16),
  elevation: #000,
  icon: #fff,
  sliderMin: #fff,
  sliderOff: rgba(255,255,255,.4),
  sliderOffActive: rgba(255,255,255,.4),
  sliderThumb: #BDBDBD,
  text: #fff,
  secondaryText: rgba(255,255,255,.72),
  hintText: rgba(255,255,255,.64),
  disabledText: rgba(255,255,255,.4)
);

$ml-css-variable-theme: (
  base: var(--ml-base),
  oppositeBase: var(--ml-oppositeBase),
  background: var(--ml-background),
  primaryContainer: var(--ml-primaryContainer),
  secondaryContainer: var(--ml-secondaryContainer),
  tertiaryContainer: var(--ml-tertiaryContainer),
  disabledContainer: var(--ml-disabledContainer),
  divider: var(--ml-divider),
  elevation: var(--ml-elevation),
  scrollbar: var(--ml-scrollbar),
  icon: var(--ml-icon),
  sliderMin: var(--ml-sliderMin),
  sliderOff: var(--ml-sliderOff),
  sliderOffActive: var(--ml-sliderOffActive),
  sliderThumb: var(--ml-sliderThumb),
  text: var(--ml-text),
  secondaryText: var(--ml-secondaryText),
  hintText: var(--ml-hintText),
  disabledText: var(--ml-disabledText),
);

$ml-deepPurple-amber-palette: (
  primary: (
    color: #673ab7,
    contrast: #fff,
  ),
  accent: (
    color: #ffd740,
    contrast: rgba(0, 0, 0, 0.87),
  ),
  warn: (
    color: #f44336,
    contrast: #fff,
  ),
);

$ml-indigo-pink-palette: (
  primary: (
    color: #3f51b5,
    contrast: #fff,
  ),
  accent: (
    color: #ff4081,
    contrast: #fff,
  ),
  warn: (
    color: #f44336,
    contrast: #fff,
  ),
);

$ml-pink-blueGrey-palette: (
  primary: (
    color: #e91e63,
    contrast: #fff,
  ),
  accent: (
    color: #607d8b,
    contrast: #fff,
  ),
  warn: (
    color: #f44336,
    contrast: #fff,
  ),
);
$ml-pink-blueGray-palette: $ml-pink-blueGrey-palette;

$ml-purple-green-palette: (
  primary: (
    color: #9c27b0,
    contrast: #fff,
  ),
  accent: (
    color: #69f0ae,
    contrast: rgba(0, 0, 0, 0.87),
  ),
  warn: (
    color: #f44336,
    contrast: #fff,
  ),
);

$css-variable-template: (
  primary: (
    color: var(--ml-primary),
    contrast: var(--ml-primary-contrast),
  ),
  accent: (
    color: var(--ml-accent),
    contrast: var(--ml-accent-contrast),
  ),
  warn: (
    color: var(--ml-warn),
    contrast: var(--ml-warn-contrast),
  ),
);
