@use 'sass:map';
@use './private';


@mixin root-selector-style($theme: null, $ml: null) {
  $ml: if($theme, (default: $theme), $ml);

  @include private.for-each-theme(null, ((background, background), (foreground, text)), $ml, $unwrap-class: true)
  using ($selector, $config, $background, $text) {
    $root-selector: map.get($config, root-selector);

    @if $root-selector == null {
      $root-selector: body;
    }
  
    @if $root-selector {
      #{$root-selector + if($selector == default, null, $selector)} {
        background-color: $background;
        color: $text;
      }
    }
  }
}

@mixin color-classes($theme: null, $ml: null) {
  $ml: if($theme, (default: $theme), $ml);

  @include private.for-each-theme-color((default, default-contrast), $ml)
  using ($_, $__, $name, $color, $contrast) {
    .ml-#{$name}-style {
      background-color: $color;
      color: $contrast;
    }

    .ml-#{$name}-background {
      background-color: $color;
    }

    .ml-#{$name}-color {
      color: $color;
    }

    .ml-#{$name}-contrast {
      color: $contrast;
    }
  }
}
