$theme-map-keys: (
  foreground,
  background,
  color,
  typography,
  config,
  default
);

$theme-map-coloring-keys: (
  foreground,
  background,
  color
);

$theme-map-optional-keys: (
  config,
  typography
);

$theme-map-important-keys: (
  foreground,
  background,
  color,
  typography,
  config,
);

$components: (
  button,
  card,
  card-contents,
  slide-toggle,
  ripple
);
