$theme-map-keys: (
  foreground,
  background,
  color,
  typography,
  config
);

$required-theme-map-keys: (
  foreground,
  background,
  color
);

$components: (
  button,
  card,
  card-contents,
  slide-toggle
);