@use '../../utils';

@mixin button {
  @include utils.user-select(none);
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin overlay {
  overflow: hidden;
  pointer-events: none;
}

@mixin overlay-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  background-color: currentColor;

  opacity: 0;
  transition-property: opacity;

  .ml-disabled & {
    opacity: 0 !important;
    background-color: transparent !important;
  }
}
