@use 'sass:map';
@use 'sass:string';
@use './animation';
@use '../../utils';

$duration: (
  very-fast: 160ms,
  faster:    200ms,
  fast:      240ms,
  normal:    280ms,
  slow:      320ms,
  slower:    360ms,
  very-slow: 400ms,

  ease-out:    400ms,
  ease-in:     280ms,
  ease-in-out: 480ms,
  linear:       80ms,

  swift-ease-out:    400ms,
  swift-ease-in:     300ms,
  swift-ease-in-out: 500ms,
  swift-linear:       80ms
) !default;

$timing-function: (
  // fast-out => liner-in
  standard:         cubic-bezier(0.4, 0, 0.2, 1),
  fast-out-liner-in: cubic-bezier(0.4, 0, 0.2, 1),
  
  // fast-out => slow-in
  strong-acceleration: cubic-bezier(0.36, 0, 0.24, 1),
  fast-out-slow-in:    cubic-bezier(0.36, 0, 0.24, 1),

  // fast-out => liner-in
  acceleration:       cubic-bezier(0.4, 0, 1, 1),
  fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1),
  
  // linear-out => slow-in
  deceleration:       cubic-bezier(0, 0, 0.2, 1),
  linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1),

  ease-out:    cubic-bezier(0.24, 0.8, 0.24, 1),
  ease-in:     cubic-bezier(0.56, 0, 0.56, 0.2),
  ease-in-out: cubic-bezier(0.36, 0, 0.24, 1),
  liner:       linear

  swift-ease-out:    cubic-bezier(0.25, 0.8, 0.25, 1),
  swift-ease-in:     cubic-bezier(0.55, 0, 0.55, 0.2),
  swift-ease-in-out: cubic-bezier(0.35, 0, 0.25, 1),
  swift-liner:       linear
) !default;

@function duration($value) {
  $result: map.get($duration, $value);
  @return $result or $value;
}

@function timing-function($value) {
  $result: map.get($timing-function, $value);
  @return $result or $value;
}

// .foo {
//   transition: transition-value((box-sizing, color)), opacity 160ms ease;;
// }
@function value($props, $duration: normal, $timing-function: ease-out) {
  $result: '';
  $type: duration($duration) timing-function($timing-function);
  
  @each $prop in $props {
    $result: $result + $prop + ' ' + $type + ', ';
  }

  @return string.slice($result, 0, -3);
}

@function transition($props, $duration: normal, $timing-function: ease-out) {
  @return value($props, $duration, $timing-function);
}

// .foo {
//   @include transition(opacity, normal, standard);
// }
@mixin transition($prop, $duration: normal, $timing-function: ease-out) {
  transition: value($prop, $duration, $timing-function);
}
