$limit: 24;

$standard-side-sheet: 0;
$resting-app-bar: 0;
$text-button: 0;

$switch: 1;
$resting-card: 1;
$resting-search-bar: 1;

$resting-contained-button: 2;

$scrolled-search-bar: 3;

$scrolled-app-bar: 4;

$loading-overlay: 5;

$resting-fab: 6;

$pressed-contained-button: 8;
$picked-up-card: 8;
$menus: 8;
$floating-app-bar: 8;
$bottom-app-bar: 8;
$bottom-navigation-bar: 8;
$bottom-nav-bar: 8;
$standard-bottom-sheet: 8;
$standard-bottom-side-sheet: 8;

$pressed-fab: 12;

$overlay: 15;

$navigation-drawer: 16;
$nav-drawer: 16;
$modal-bottom-sheet: 16;
$modal-side-sheet: 16;

$dialog: 24;