@use '../angular/docs/src/material-lite/angular' as *;
@forward '../angular/docs/src/material-lite/angular';

$material-lite: (
  default: define-light-theme((
    color: $indigo-pink-color
  )),

  '.dark-theme': define-dark-theme((
    color: $deep-purple-amber-color,
  ))
);
