@use './app-theme' as ml;
@use './media-query' as *;

.docs-navbar {
  display: flex;
  position: sticky;
  top: 36px;
  z-index: 2;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;

  @include ml.style(background-color, (background, background));
  @include ml.elevation(2);

  @include mp {
    padding-left: 40px;
  }

  .ml-button {
    border-radius: 0 !important;
  }

  .ml-tracker {
    will-change: left;
  }

  &-tracker {
    height: 2px;
  }

  &-button {
    width: 100%;
    height: 40px !important;
  }
}


.docs-sidenav {
  display: inline-block;
  position: sticky;
  top: 36px;
  height: 100%;
  z-index: 3;

  .ml-button {
    border-radius: 0 !important;
    &:link, &:visited {
      color: currentColor;
    }
  }

  &.opened {
    pointer-events: auto;
  }

  @include mp {
    position: fixed;
    pointer-events: none;
  }

  &-overlay {
    display: none;

    .opened & {
      opacity: 0.64;
    }

    @include mp {
      display: block;
      opacity: 0;
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;

      background-color: black;
      @include ml.transition(opacity, faster, standard);
    }
  }

  &-drawer-button {
    display: none !important;

    @include mp {
      display: block !important;
      position: absolute !important;
      top: 0; left: 0;
      
      height: 40px !important; 
      width: 40px !important;
      min-width: 0 !important;
      padding: 0 !important;
      pointer-events: auto;
    }
  }

  &-content {
    display: inline-block;
    overflow-y: auto;
    height: 100%;
    @include ml.style(background-color, (background, background));

    .ml-button {
      height: 40px;
      flex-shrink: 0;
    }

    @include mp {
      transform: translateX(-100%);
      @include ml.elevation(18);
      @include ml.transition(transform, faster, standard);

      .ml-button {
        min-width: 240px;
        justify-content: flex-start;
        padding: 0 24px;
      }

      .opened & {
        transform: translateX(0);
      }
    }

    &-wrapper {
      display: inline-flex;
      flex-direction: column;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
      @include ml.style(background-color, (foreground, divider));
    }
  }
}


.docs-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #9E9E9E;
  border-radius: 4px;
  overflow: hidden;

  &-content {
    .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      font-size: 14px;
      padding: 8px;
      border-bottom: 1px solid #9E9E9E;
      box-sizing: border-box;

      > * {
        margin: 8px 16px;
      }

      span, label {
        margin-right: 8px;
      }

      [type="number"] {
        width: 80px;
      }
    }

    .prod {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-bottom: 1px solid #9E9E9E;

      > * {
        margin: 8px 16px;
      }
    }
  }

  &-codeblock {
    &-header {
      display: flex;

      button {
        height: 40px;
      }
    }
    // &-header + .prism {
    //   border-bottom: 1px solid #9E9E9E;
    // }

    &-nav {
      display: flex;
      justify-content: space-between;

      &-button {
        height: 40px;
        background-color: transparent;
        border-radius: 0 !important;
      }
    }

    &-actions {
      margin-left: auto;
    }
  }
}

