.prism {
  display: block;
  width: 100%;
  max-width: 0;
  min-width: 100%;
  padding: 16px 24px;
  box-sizing: border-box;
  margin: 0;
  border: none;
  font-size: 14px;
  line-height: 1.4;
  color: white;
  background-color: #323232;
  overflow-x: auto;
  white-space: pre;
}
